<script type="text/javascript">
  var meetingToken =  "<%= @meeting.token %>";
  var userToken = <%= current_user ? "\"".html_safe+current_user.token+"\"".html_safe : "null" %>;
  var userName = <%= current_user ? "\"".html_safe+current_user.username+"\"".html_safe : "null" %>;
</script>
<h2><%= @meeting.title %></h2>

<div class="container">
	<div class="row">
		<div class="span8" id="streams">
			<video autoplay="autoplay" id="my-stream" class="span4 stream my-stream"/>
			<video autoplay="autoplay" id="remote-stream-tmp" class="span4 stream remote-stream"/>
		</div>

		<!--chat box start-->
		<div class="span3 offset1" style="border:0px;border-color:#000000;border-style:solid">
			<div class="accordion" id="controlBox" style="margin:0px;padding:0px">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#controlBox" href="#chat"> Chat </a>
					</div>
					<div id="chat" class="accordion-body collapse" style="height: 0px; ">
						<div id="chatDiv" style="width:100px; height:100px">
							The Chat Div
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#controlBox" href="#participant-list"> Participants </a>
				</div>
				<div id="participant-list" class="accordion-body collapse" style="height: 0px; ">
					<div class="accordion-inner">
  					<div class="participant-list-user me" style="padding: 0px 0px 0px 20px">
  						<span class="user-name"><%= current_user ? current_user.username : "Me" %></span>
  					</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div id=hand class="span3" style="padding: 8px 15px" onclick="test()">
					Raise Hand
				</div>
			</div>
		</div>
	</div>
	<!--chat box end-->
</div>
<%= link_to 'Back', meetings_path %>
<!--Original Code-->
<!--

<div class="container">
<div class="row">
<div class="span12"><video id="my-stream" autoplay="autoplay" width="100%" height="100%"></video></div>
</div>
<div class="row">
<div class="span2" id="remote-streams-bar"></div>
</div>
</div>

<%= link_to 'Back', meetings_path %>
-->
