<% @emails = String.new %>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @meeting.title %>
</p>

<p>
  <b>Startdate:</b>
  <%= @meeting.startDate %>
</p>

<p>
  <b>Expectedduration:</b>
  <%= @meeting.expectedDuration %>
</p>

<p>
  <b>Description:</b>
  <%= @meeting.description %>
</p>

<p>
  <b>Private:</b>
  <%= @meeting.private %>
</p>

<p>
	<b>Meeting-URL:</b>
	<%= conference_url(@meeting.token) %>
</p>

<p>
	<b>Notify via e-mail:</b>
	<%= form_tag notify_url(@meeting), :method => :post do %>
		<%= text_field(:email, :recipients)%>
		<%= submit_tag "Notify" %>
	<% end %>
</p>

<%= link_to 'Back', meetings_path, class: "btn" %>
<%= link_to 'Delete Meeting', @meeting, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn" %>
