<% provide(:title,"Edit User")%>
<h1>Editing user</h1>

<%= form_for(@user) do |user| %>
<%= render 'shared/error_messages' %>
<div class="row">
	<div class="span6 offset3">
	<%= user.label :firstName %><br />
    <%= user.text_field :first_name %>
    
    <%= user.label :lastName %><br />
    <%= user.text_field :last_name %>
    
    <%= user.label :username %><br />
    <%= user.text_field :username %>
    
    <%= user.label :password %><br />
    <%= user.text_field :password %>
    
    <%= user.label :email %><br />
    <%= user.text_field :email %>
    
    </div>
</div> 
<button class="btn"><%= user.submit %></button>
<% end %>

