<% provide(:title, 'Sign up') %>

<div class="row">
<div class="container-fluid">
			<div class="row">
				<div class="span5">
					<img src="images/meeting.jpg">
				</div>
    			<div class="span5 offset1">
    			<h1>Registration</h1>
    <%= form_for(@user) do |f| %>
    
      <%= render 'shared/error_messages' %>
      
      <%= f.label :username	 %>
      <%= f.text_field :username %>
      
      <%= f.label :firstName %>
      <%= f.text_field :first_name %>
      
      <%= f.label :lastName %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
           
	 <br class="bar" />
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  </div>
</div>
