<% provide(:title, @user.username) %>


<dl class="dl-horizontal">
	<dt>Firstname:</dt>
	<dd><%= @user.firstName %></dd>
	
	<dt>Lastname:</dt>
	<dd><%= @user.lastName %></dd>
	
	<dt>Username:</dd>
  	<dd><%= @user.username %></dt>
  		
	<dt>Email:</dt>
  	<dd><a href="mailto:#"><%= @user.email %></a></dd>
</dl>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
